.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vmax;
    
    color: rgb(0, 255, 191);
    margin:  1vmax;
    height: 28vmax;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transition: .5s;
    /* overflow: hidden; */
}
.addToFav{
    height: 1.7vmax;
    margin: .5vmax 0;
    background: #303642;
    border: none;
    cursor: pointer;
    padding: 0 .5vmax;
    font-weight: 900;
    border-radius: 5px;
    transition: .5s;
  
}
.addToFav:hover{
    background: rgb(135, 255, 225);
}
.movieCard>div:first-child{
    width: 15vmax;
    height: 20vmax;
}
.movieCard>div>img{
    width: 15vmax;
    height: 20vmax;
    object-fit: cover;
}
.cardContainer:hover{
    transform: translateY(-5px);
    
}
.movieCard>p{
margin:auto .5vmax;
font-size: .8vmax;
}
.info>span{
    background: rgb(24, 22, 22);
    width: 2vmax;
    height: 2vmax;
    padding: .3vmax;
    text-align: center;
    }

.info{
    padding: .5vmax;
    display: flex;
    justify-content: space-between;
}
